$backgroundColor: #eef2f6;
$cardColor: #fff;
$textColor: #393f46;
$boxShadowColor: #e9ecef;

.signup-dialog {
    background-color: $cardColor;
    margin-top: 0px;
    box-shadow: none;
}

.signup-dialog-title {
    color: $textColor;
}

.signup-dialog-content {
    color: $textColor;
}

::ng-deep .signup-custom>mat-dialog-container {
    background-color: $cardColor;
}

.signup-actions {
    display: flex
}