<app-navbar></app-navbar>

<div class="user-profile-page">
    <!-- User Profile -->
    <mat-card class="user-profile-card">
        <mat-card-header class="user-profile-card-header">
            <mat-card-title>Your Profile:</mat-card-title>
        </mat-card-header>
        <mat-divider inset></mat-divider>

        <!-- View Profile Information -->
        <mat-card-content class="user-profile-card-content">
            <mat-card-subtitle> <span style="font-weight: bold; color:black">Username:  </span>{{user.Username}}</mat-card-subtitle>
        <mat-card-subtitle> <span style="font-weight: bold; color:black">Email:  </span>{{user.Email}}</mat-card-subtitle>
        <mat-card-subtitle> <span style="font-weight: bold; color:black">Birthday:  </span>{{user.Birthday | date}}</mat-card-subtitle>
        </mat-card-content>
        <mat-divider inset></mat-divider>

        <!-- Edit Profile Information & Delete Profile -->
        <mat-card-actions class="user-profile-actions">

            <button 
            mat-raised-button 
            (click)="openEditProfileDialog()" 
            color="primary">
                <mat-icon>edit</mat-icon>
                Edit Profile
            </button>
            <button mat-raised-button 
            (click)="deleteProfile()" 
            color="warn">
                <mat-icon>delete_forever</mat-icon>
                Delete Profile
            </button>

        </mat-card-actions>  
    </mat-card>
</div>
<app-footer></app-footer>